/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
	}

	body,input,textarea,select
	{
		font-size: 11pt;
	}


	header
	{
		margin-bottom: 2em;
	}
	
		header h2
		{
			font-size: 3em;
		}

		header .byline
		{
			margin: 0.5em 0 0 0;
			padding: 0.50em 0 0.5em 0;
		}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		background:url(../images/header.jpg) no-repeat center;
		background-size: cover;
		padding: 5em 0em;
		text-align: center;
	}
	
		.homepage #header
		{
			padding: 0em 0em;
		}

		#header .container
		{
		}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		margin-bottom: 0em;
	}
		#logo img
		{
			box-shadow:0 0 200px black;
			border:4px solid #c33;
			margin-bottom:0em;
			margin-top:.9em;
			width:65%;
		}
		#logo h1
		{
			color: #FFF;
		}
	
		#logo h1 a
		{
			display: block;
			letter-spacing: 1px;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 4em;
			font-weight: 900;
			color: #883338;
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
	}

	#nav ul
	{
		box-shadow:5px 5px 25px 20px #300;
		margin: 2em;
		display: inline-block;
		padding: 0em 3em;
		border-radius: 40px;
		background: #fdd;
	}

	#nav > ul > li
	{

		display: inline-block;
	}
	
	#nav > ul > li:last-child
	{
		padding-right: 0;
	}

	#nav > ul > li > a,
	#nav > ul > li > span
	{
		display: block;
		padding: 1.3em 1.5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 1em;
		outline: 0;
		color: #c66;
	}

	#nav > ul > li > a:hover
	{
		color: #f00;
		text-decoration: underline;
		font-weight: bolder;
	}

	#nav li.active a
	{
		text-decoration: underline;
		font-weight:bold;
		color: #400;
	}
	#nav li.active a:hover
	{
		text-decoration: none;
		color:#e22;
	}
	#nav > ul > li > ul
	{
		display: none;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		padding: 6em 0em;
	}

	.divider
	{
		margin: 7em 0em 5em 0em;
	}

	#content
	{
	}

	#content header h2
	{
		letter-spacing: -1px;
		font-size: 3em;
	}
	
	#sidebar
	{
	}
	
	#sidebar header h2
	{
		font-size: 2em;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
		padding: 6em 0em;
	}
	
	